.page {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px;
    max-width: 700px;
    margin: 0 auto;
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.uploadSection {
    display: flex;
    align-items: center;
    gap: 16px;
}


.input {
    padding: 8px;
}

.error {
    color: red;
    font-size: 14px;
}

.preview {
    margin-top: 32px;
}

.docInfoDetails {
    margin-top: 16px;
}

.placeholdersList {
    margin-top: 8px;
}

.placeholdersActions {
    margin-top: 10px;
}