.button {
    color: #fefefe;
    font-size: 15px;
    background: #2563eb;
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.25s;

    &:disabled {
        background: #93c5fd;
        cursor: not-allowed;
    }

    &:hover:not(:enabled) {
        background: #1e4fcc;
    }
}